/* 基础设置 */
.container {
    width: 1190px;
    margin: 0 auto;
    overflow: hidden;
}
.tbleft,.hdright {
    font-size: 0;
    /* 这句可以消除tbleft实际上溢出的情况 */
    /* height: 30px; */
}

/* 顶部导航区 */
.topbar {
    background-color: #ececec;
    height: 30px;
    line-height: 30px;
    
}
.tbleft span,.tbleft a {
    font-size: 12px;
}
.welcome {
    padding-right: 28px;
}
.login {
    padding-right: 10px;
    border-right: 1px solid #666;
}
.register {
    padding-left: 10px;
}
.tbright a {
    padding: 0 15px;
    border-right: 1px solid #666;
}
.tbright li:first-child>a {
    padding-left: 0;
}
.tbright li:last-child>a {
    border: none;
}
/* 头部区域 */
.search-input {
    border: 1px solid #DD302D;
    height: 34px;
    width: 508px;
}
/* .header img {
    display: inline-block;
} */
.search-btn {
    height: 36px;
    width: 80px;
    background-color: #DD302D;
    background-image: url(../img_profile/serch_icon.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.search-area {
    line-height: 120px;
    /* height: 120px; */
    /* vertical-align: middle; */
}

/* 主导航区 */
.nav {
    height: 48px;
    border-bottom: 1px solid #DD302D;
}
.all-sort {
    width: 190px;
    height: 48px;
    background-color: #DD302D;
    color: #FFF;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
}
.nav-items {
    line-height: 48px;

}
.nav-items a {
    font-size: 16px;
    /* 超链接文字如果设置了颜色，也就固定颜色了，不会因为hover而变色 */
    color: #333;
    padding: 0 10px;
}

/* 首页核心区Home Hero/Entry */
.sort-list {
    background-color: #F4F4F4;
}
.sort-list li {
    padding: 4px 16px;
}
.sort-list li:first-child {
    padding-top: 9px;
}
.sort-list li:last-child {
    padding-bottom: 9px;
}
.sort-list li {
    font-size: 14px;
    color: #333;
}
.sort-list li:hover {
    background-color: white;
    color: #DD302D;
}